.header-top {
    background-color: $banner-base-bg;
    color: #fff;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-align: center;
    &__text {
        font-size: 1.3rem;
        strong {
            font-weight: 700;
        }
        &:first-child {
            strong {
                font-size: 1.8rem;
            }
        }
    }
}

.header-bottom {
    background-color: $header-bg;
    padding-top: 5px;
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .shipping-info {
        a {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 700;
        }
        img {
            margin-right: 5px;
        }
    }
}

.account-field {
    display: flex;
    .account-dropdown {
        padding-left: 0;
        margin: 0;
        text-transform: uppercase;
        position: relative;
        >li {
           &:first-child {
               display: flex;
               align-items: center;
               color: #fff;
               cursor: pointer;
               font-size: 1.4rem;
               font-weight: 700;
               letter-spacing: 2px;
           }
           &.active+.dropdown {
            display: block;
            }
           &.active .btn-toggle {
            &:after {
                transform: rotate(225deg);
                margin-bottom: 0;
            }
           } 
           &.dropdown {
            display: none;
            position: absolute;
            top: 20px;
            left: -39px;
            ul {
                padding-left: 0;
                min-width: 175px;
                position: relative;
                background-color: #ecedeb;
                border: 1px solid #979797;
                z-index: 101;
                margin-top: 10px;
                box-shadow: 0 2px 4px rgba(0,0,0,.5);
                &:before {
                    content: '';
                    display: block;
                    height: 0;
                    position: absolute;
                    width: 0;
                    border: 6px solid;
                    border-color: transparent transparent #ecedeb;
                    z-index: 99;
                    right: 5px;
                    top: -12px;
                }
                li {
                    font-size: 1.4rem;
                    font-weight: 700;
                    letter-spacing: 2px;
                    a {
                        display: block;
                        padding: 8px;
                        color: #252c26;
                        &:hover {
                            text-decoration: none;
                            background-color: #fff;
                        }
                    }
                }
            }
           }
        }
        .btn-toggle {
            color: #fff;
            cursor: pointer;
            margin-left: 1.5rem;
            &:after {
                content: '';
                display: inline-block;
                border: solid #fff;
                border-width: 0 1.5px 1.5px 0;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                margin-bottom: 3.5px;
            }
            >span {
                border: 0;
                clip: rect(0,0,0,0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
        }
        &.currency {
            margin-left: 15px;
            .btn-toggle {
                margin-left: 0.75rem;
            }
            .dropdown {
                left: -22px;
                ul {
                    min-width: 105px;
                }
            }
        }
    }
}