* {
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    color: #252c26;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
        flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.container {
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

input {
    border: none;
    outline: none;
    &:focus {
        border: none;
        outline: none;
    }
}

input[type=text] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c9cac8;
    border-radius: 0;
    font-family: 'Roboto','Roboto',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

form {
    border: none;
    outline: none;
    &:focus {
        border: none;
        outline: none;
    }
}