@mixin max-xs{
    @media (max-width: 599px) { @content; }
  }
  @mixin sm {
    @media (min-width: 600px) { @content; }
  }
  @mixin md {
    @media (min-width: 900px) { @content; }
  }
  @mixin lg {
    @media (min-width: 1200px) { @content; }
  }
  @mixin lg-up {
    @media (min-width: 1800px) { @content; }
  }